.hero{
    width: 100%;
    min-height: 80vh;
    background-image: linear-gradient(rgba(44,24,16,0.55)) ,url(../assets/ChatGPT\ Image\ 10\ ago\ 2026\,\ 01_04_47\ p.m.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;  
    gap: 1.2rem;
}

.hero h1{
    color: var(--color-hero-title);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    font-size: 3rem;    
}

.hero p{
    color: var(--color-hero-title);
    max-width: 500px;
    font-size: 1.1rem;

}

@media(max-width: 768px){
    .hero h1{
        font-size: 3rem;
    }
}



    