.card-section{
    max-width: var(--max-width);
    margin: 0 auto; /*acomoda los elmentos al medio*/
    padding: 1rem 2rem 3rem ;
}

.card-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

}

.card{
    background-color: var(--color-primario);
    border-radius: 10px;
    overflow: hidden; /*cuando algo es mas grande que su contenedor sucede overflow o sea que esta desbordada del contenedor */
    box-shadow: 0 4px rgba 0,0,0,0.08 ;
    max-width: 320px;
    display: flex;
    flex-direction: column;

}

.card img{
    height: 200px;
    width: 100%; 
    object-fit: cover;   
    

}

.card-body{
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.card-body h3{
    color: var(--color-secundario);
    flex: 1;
    font-size: 1.8rem;
}

.card-body p{
    font-size: 0.9rem;
    flex: 1;
    
}